/* General */

body { background-color: #eee; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   14px;
  line-height: 18px;
}

h1 {
    font-size: xx-large;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #44445A; }
a:visited { color: #555; }
a:hover { color: #50C; background-color:#dedede; }
a:active { color: #49B; background-color:#efefef; }

.container {
    padding: 0 50px 0 50px;
    border: #FFF5EE ridge 1px;
}

div.field, div.actions {
  margin-bottom: 10px;
}

.sidebar {
    position: absolute;
    top: 0%;
    left: 80%;
	#margin: .5em;
	width: 20%;
}

#menu1 {
    #display: inline-block;
    #text-color: red;
    padding: .33em .5em .33em .5em;
    height: 2.75em;
}

#menu1 ul {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#menu1 il {
    display: inline;
}

#menu1 a {
    float: left;
    width: 15%;
    font-size: medium;
    color: #eee;
    text-align: center;
    background-color: #aac;
    padding: 0.2em 0.4em;
    border-left: #dde solid .33em;
    border-right: #dde solid .33em;
}


#menu1 a:visited {
#    color: green;
#    background-color: #333;
}

#menu1 a:hover {
    color: #aac;
    background-color: #eee;
}

#menu1 a:active {
    color: #00b;
    background-color: #fff;
}

header {
    color: #333;
    width: 90%;
    text-align: center;
}


footer {
    color: #777;
    width: 100%;
    text-align: right; 
}


/* notices and errors */

#notice {
  color: #6A6;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}


/* tables */

table.tablesorter {
    background-color: #CDCDCD;
    #font-size: 8pt;
    text-align: center;
    border: 2px solid #F5F5F5;
}

table.tablesorter thead tr {
    padding: 2em;
    cursor: pointer;
}

table.tablesorter thead th {
    padding: .1em .3em .1em .3em;
    border-left: 1px dotted #F5F5F5;
    border-right: 1px dotted #F5F5F5;
}

table.tablesorter tbody td {
    #background-color: #AAA;
    #color: #ccc;
    border-left: 1px dotted #F5F5F5;
    border-right: 1px dotted #F5F5F5;
    
}

table.tablesorter tbody tr {
    background-color: #AAA; #not working...
}

table.tablesorter thead tr .headerSortUp {
    background-color: #bebebe;
}

table.tablesorter thead tr .headerSortDown {
    background-color: #e5e5e5;
}

