/* General */

body { background-color: #eee; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   14px;
  line-height: 18px;
  #width: 500px;
}

h1 {
    font-size: xx-large;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #555; }
a:hover { color: red; #background-color:#000; }

.container {
    padding: 0 50px 0 50px;
    border: #FFF5EE ridge 1px;
}

div.field, div.actions {
  margin-bottom: 10px;
}

.sidebar {
    position: absolute;
    top: 0;
    right: 50px;
}

#menu1 {
    #display: inline-block;
    text-color: red;
    #padding: 8px 5px 0;
    height: 2.75em;
}

#menu1 ul {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#menu1 il {
    display: inline;
}

#menu1 a {
    float: left;
    width: 4em;
    color: #448;
    text-align: center;
    background-color: #DADADD;
    padding: 0.2em 0.4em;
    border-right: #EEEEEF solid;
}

#menu1 a.hover {
    color: red;
    background-color: red;
}


/* notices and errors */

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}


/* tables */

table.tablesorter {
    background-color: #CDCDCD;
    #font-size: 8pt;
    text-align: center;
    border: 1px solid #FFF;
}

table.tablesorter thead tr {
    padding: 4px;
    cursor: pointer;
}

table.tablesorter tbody td {
    padding: 4px;
    background-color: #AAA;
    font-color: #ccc;
}

table.tablesorter tbody tr.odd td {
    background-color: #FFF;
}

table.tablesorter thead tr .headerSortUp {
    background-color: #bbb;
}

table.tablesorter thead tr .headerSortDown {
    background-color: #ddd;
}

