<% content_for :title do %>
: Setup Game
<% end %>

<h2>Setup Game</h2>

<div class='container'>
<p>Select Number of Rounds to Play to:

<%= form_for @game, :url => { :action => 'create'} do |f| %>
  <%= f.number_field :total_rounds, :min => 1, :step => 2, 
  :placeholder => "Pick an odd number of rounds" %>
  
  <%= f.submit %>
<% end %> 


</p>
</div>
